*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
  Colors:
  FFC107 - Yellow
  0D6EFD - Blue
*/